body {
    background-color: #323232;
    color: aliceblue;
    /*font-family:Arial;*/
    font-family: 'Roboto';
}
h4
{
    text-align:right;
}
p
{
    text-align:justify;
    font-size:12pt;
}
ol
{
    list-style-type:upper-roman;
    /*list-style-type:lower-alpha;*/
}
.nesting-lvl-1
{
    list-style-type:circle;
}
.nesting-lvl-2 
{
    list-style-type: "- ";
    padding-left:10px;
}
figure
{
    text-align:center;
    font-style:italic;
}
a 
{
    color: aliceblue;
}
    a:hover, a:hover:visited
    {
        color: aqua;
    }
    a:visited
    {
        color:palegreen;
    }
