@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body
{
    font-family:Roboto Condensed;
}
textarea
{
    resize:none;
    width:30em;;
    height:15em;
}
fieldset
{
    width:30em;
}
.EULA
{
    width:300px;
    height:200px;
    border:solid 1px;
    overflow:scroll;
    text-align:justify;
}
div
{
    margin:5px;
}